@CHARSET "UTF-8";
		
#terraceSearchModal {
		    display: none; /* Hidden by default */
		    position: fixed; /* Stay in place */
		    z-index: 1; /* Sit on top */
		    padding-top: 50px; /* Location of the box */
		    left: 0;
		    top: 0;
		    width: 100%; /* Full width */
		    height: 120%; /* Full height */
		     /* Enable scroll if needed */
		    background-color: rgb(0,0,0); /* Fallback color */
		    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
		}
		
		/* Modal Header */
		#terraceSearchModalHeader {
		    padding: 2px 16px;
		    background-color: #90A4AE;
		    color: white;
		    font-size: 30px;
		}
		
		/* Modal Body */
		#terraceSearchModalBody {
			padding: 2px 16px;
		   
		}
		
		/* Modal Footer */
		#terraceSearchModalFooter {
		   
		    background-color: #90A4AE;
		    font: "Raleway";
		    color: white;
		}
		
		/* Modal Content */
		#terraceSearchModalContent {
		    position: relative;
		    background-color: #fefefe;
		    margin: auto;
		    padding: 0;
		    border: 1px solid #888;
		    width: 50%;
		    height: 50%;
		    font: "Raleway";
		    font-size: 15px;
		    text-align: center;
		    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
		    animation-name: registerModal;
		    animation-duration: 0.5s;
		    /* overflow-x: hidden; */
		    
		}
		#searchedTerraceRoom{
			
		}
		/* The Close Button */
		.closeModal {
		    color: white;
		    float: right;
		    font-size: 40px;
		    font-weight: bold;
		}
		.closeModal:hover,
		.closeModal:focus {
		    color: #000;
		    text-decoration: none;
		    cursor: pointer;
		}
		@keyframes registerModal {
		    from {top: -300px; opacity: 0}
		    to {top: 0; opacity: 1}
		}
		
		#searchedTerraceDiv{
			padding-left: 10px;
			
		}
		
#ggoDiv{
	width:700px;
}
		
		#ggo1 {
 
 height: 200%;
 width: 100%;
}

#ggo2 {

 padding: 15px;
 
 height: 500px;
 width: 700px;	  
 overflow-y: scroll;
 overflow-x: hidden;   
}

#wholeTerraceModal{
	display: none; /* Hidden by default */
		    position: fixed; /* Stay in place */
		    z-index: 1; /* Sit on top */
		    padding-top: 100px; /* Location of the box */
		    left: 0;
		    top: 0;
		    width: 100%; /* Full width */
		    height:200%; /* Full height */
		     /* Enable scroll if needed */
		    background-color: rgb(0,0,0); /* Fallback color */
		    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#wholeTerraceModalHeader{
	padding: 2px 16px;
		    background-color: #90A4AE;
		    color: white;
		    font-size: 30px;
}

#wholeTerraceModalBody{
	/* padding: 2px 16px; */
			margin: 0;
			width: 60%;
			height: 510px;
			
			/* overflow-y: scroll;  */
}

#wholeTerraceModalFooter {
		    padding: 2px 16px;
		    background-color: #90A4AE;
		    font: "Raleway";
		    color: white;
		}
#wholeTerraceModalContent {
		    position: relative;
		    background-color: #fefefe;
		    margin: auto;
		    padding: 0;
		    width: 630px;
		    height: 600px;
		    /* border: 1px solid #888;
		    width: 40%;
		    height: 50%;
		    font: "Raleway";
		    font-size: 15px;
		    text-align: center;
		    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
		    animation-name: registerModal;
		    animation-duration: 0.5s; */
		    
		    
		}
#wholeTerraceModalDiv{
	width:630px;
	height :500px;
	
	overflow-y : scroll;
}
