@CHARSET "UTF-8";

<!--상단바 크기 및 화면사이즈-->

@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.mySlides {display:none;}

#mySidebar {

 position: fixed;

}

body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
    height: 100%;
    line-height: 1.8;
}

.w3-bar .w3-button {
    padding: 16px;
}
video{
	width:230px;
	height:180px;
}

video:first-child{
	border: solid 3px red;
}

<!--영역 나누기-->
/* Style the header */
.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;    
}

/* Container for flexboxes */
.row {
    display: -webkit-flex;
    display: flex;
  
}

/* Create three equal columns that sits next to each other */
.column {
    
    padding: 10px;
    height: 730px; 
}

#canvasScroll{
	overflow-y:scroll;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .row {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
}

#col1 {
   width: 700px;
}

#col2 {
   width: 90px;
   height: 750px;
}

#col3 {
   width: 380px;
}

#col4 {
   width: 380px;
   height: 750px;
   
   border-left:solid 2px #f2efef;
}



<!--아이콘 바-->
<!--지워지면 아이콘바 위치가 달라짐-->
.icon-bar {

}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 5px;
    transition: all 0.3s ease;
    color: black;
    font-size: 22px;
}

.icon-bar a:hover {
    background-color: white;
}



<!--유저 캠크기-->

/* #per777 {
width: 150px;
height: 100px;
background-color: white;
}
#per1 {
width: 180px;
height: 130px;
background-color: white;
}
#per2 {
width: 180px;
height: 130px;
background-color: white;
}
#per3 {
width: 180px;
height: 130px;
background-color: white;
}
#per4 {
width: 180px;
height: 130px;
background-color: white;
} */