@CHARSET "UTF-8";

.TterraceRoom{
	width: 200px;
	margin: auto;
	height: 200px;
	color: white;
	background-color: #607D8B;
	border-radius: 15px;
	padding-top:5px;
}


.Tname{
	background-color: #F7BE81;
	
}

.Tinfo{
	background-color: #607D8B;
}

.Tbtn{
	
	margin: auto;

	width: 200px;
}

#didididi{
	margin-top: 100px;
	margin-left: 300px;
	
}