<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>myBlackBoard</title>
</head>
<body>
<table>
	<tr>
		<td width="700" height="800">
			<div style="position: relative; top: -400px; left: 20px">
				 <canvas height="900" width="600" id="imageOnly"
				   style="position:absolute; left: 0; top: 0; z-index: 0;"></canvas>
				 <canvas height="900" width="600" id="mycanvas" 
				   style="position: absolute; left: 0; top: 0; z-index: 1;"></canvas>
			</div>	
		</td>
		<td width="80" height="800">
			<a href="javascript:canvasPen()"><img src="image/canvasPen.png" width="24" height="24"></a><br>
			<input type="color" onchange="javascript:colorPicker()" id="lineColor" value ="#ff0000"><br>
			<a href="javascript:canvasUndo()"><img src="image/canvasUndo.png"></a><br>
			<a href="javascript:canvasER()"><img src="image/canvasEraser.png" width="24" height="24"></a><br>
			<a href="javascript:canvasRect()"><img src="image/canvasRect.png"></a><br>
			<a href="javascript:canvasLine()"><img src="image/canvasLine.png"></a>
		</td>
	</tr>
</table>
</body>
</html>