<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>myBlackBoard</title>
</head>
<script src="/js/lib/jquery.min.js"></script> 
<body>
<input type="hidden" value="{{creator}}" id="creator">
<input type="hidden" value="{{pages}}" id="pages">
<input type="button" value="전체 저장" id="save-progress">
<table>
	<tr>
		<td width="700" height="900">
			<div style="position: relative; top: -400px; left: 20px">
				 <canvas height="842" width="595" id="imageOnly"
				   style="position:absolute; left: 0; top: 0; z-index: 0;"></canvas>
				 <canvas height="842" width="595" id="mycanvas" 
				   style="position: absolute; left: 0; top: 0; z-index: 1;"></canvas>
			</div>	
		</td>
		<td width="80" height="800">
			<a id="canvasDownload"><img src="image/canvasDownload.png"></a><br>
			<a href="javascript:canvasPen()"><img src="image/canvasPen.png" width="24" height="24"></a><br>
			<input type="color" onchange="javascript:colorPicker()" id="lineColor" value ="#ff0000"><br>
			<a href="javascript:canvasUndo()"><img src="image/canvasUndo.png"></a><br>
			<a href="javascript:canvasER()"><img src="image/canvasEraser.png" width="24" height="24"></a><br>
			<a href="javascript:canvasRect()"><img src="image/canvasRect.png"></a><br>
			<a href="javascript:canvasLine()"><img src="image/canvasLine.png"></a><br>
			<a href="javascript:backwardPage('{{creator}}')"><img src="image/canvasPageUp.png"></a><br>
			<input type="text" id="indexOfpage" value="0" readonly="readonly" style="width:20px; text-align: center;"><br>
			<a href="javascript:forwardPage('{{creator}}')"><img src="image/canvasPageDown.png"></a><br>
		</td>
	</tr>
</table>
<img src=""  hidden="hidden" id="image1"  crossOrigin = "anonymous">
<div id="hiddenImg"></div>

<script src="/js/app/myBlackBoard.js"></script>
</body>
</html>