<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>HRBC-カスタマイズNAVI</title>
	<link href="css/lib/bootstrap.min.css" rel="stylesheet">
	<link href="css/lib/font-awesome.min.css" rel="stylesheet">
	<link href="css/lib/datepicker3.css" rel="stylesheet">
	<link href="css/lib/styles.css" rel="stylesheet">
	<link href="css/lib/panels.css" rel="stylesheet">
	
	<!--Custom Font-->
	<!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet"> -->
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	<script src="js/app/customHelper.js"></script>
</head>
<body>

<!-- 상단 nav 이미지, 타이틀 --> 
       
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation" style = "background-color:#eeeeee" >
		<div class="container-fluid">
			<div class="navbar-header">
				
				<a class="navbar-brand" href="#" >
				<span style = "color: #444; font-weight: bold;" >
				<img src = "image/logo_porters.png">&nbsp&nbsp&nbspカスタマイズNAVI</a>
				</span>
				
				<div class="rightFloat helpdesk">
					<a href="https://hrbc-support.porters.jp/hc/en-us" target="_blank">
						<span style = "color: #444; font-weight: bold; text-decoration:none;">HRBCヘルプデスク</span>
					</a>
				</div>
				
				
			</div>
		</div><!-- /.container-fluid -->
	</nav>
	
	<!-- need : -->
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar" style="background-color:#eee">

	
<!-- for file choosing -->	
		<div class="col-md-12 rounded">
				<div class="panel panel-default">
					<div class="panel-heading bottomBorderRounded">
						<div class="filebox">
							<label for="ex_file">
								<span class="uploadButton">
									Upload
								</span>
							</label> 
							<form id="excelUpload" name="excelUpload" enctype="multipart/form-data">
								<input type="file" id="ex_file" name="ex_file" onchange="javascript:uploadExcel()"> 
							</form>
						</div>
					</div>

				</div>
		</div>
	
	<!-- for import setting  -->
	
		<div class="col-md-12 rounded">
				<div class="panel panel-default">
					<div class="panel-heading" style="height: 59px;">
						List of Excel_Data
					</div>
					<div class="panel-body" id="itemListUpdate">
					
						
						<!-- ↓파일 업로드 되면 리스트 테이블 생성되는 영역 -->
						<div id="itemListCheckArea">							
							<div style="font-size:15px; margin: 20% auto">
								<p>上のUploadボタン押して</p>
								<p>ファイルを添付してください。</p>
							</div>
												
						</div>

					</div>
					
				</div>
		</div>
	
	</div><!-- sidebar-collapse 왼쪽 공간 끝-->
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		
		<div class="row">
			
			<div class="col-md-12 ">
				<div class="panel panel-default ">
		
					<div class="panel-heading">			
						<table class="col-md-12 type03">
							<tr>	
								<th class="col-md-2" style="width:15%;">項目名</th>
								<th class="col-md-2" style="width:20%;">サンプルデータ</th>
								<th class="col-md-3" style="width:25%;">HRBC項目名</th>
								<th class="col-md-3" style="width:20%;">カスタム項目</th>
								<th class="col-md-3" style="width:20%;">カスタムoption</th>
							</tr>
						</table>
					</div>
					
					<div class="panel-body" id="customiseGuideArea">
					<!-- 왼쪽에서 선택한 데이터 테이블 생기는 공간 -->
					
						<div style="font-size:15px; width: 50%; margin: 5% auto">
							<p>カスタマイズNAVI</p>
							<p>カスタマイズ機能については、</p>
							<p>ヘルプデスクの
							<a href="https://hrbc-support.porters.jp/hc/ja/categories/202717078-HRBC%E8%A8%AD%E5%AE%9A-%E3%82%AB%E3%82%B9%E3%82%BF%E3%83%9E%E3%82%A4%E3%82%BA%E3%83%9E%E3%83%8B%E3%83%A5%E3%82%A2%E3%83%AB" target="_blank">
							HRBC設定／カスタマイズマニュアル
							</a>
							をご参考までにお願い致します。</p>
						</div>
						
					</div>
						
				</div>
			</div>	
		</div><!-- /.row -->
			
	</div><!--/.main-->
	
	<script src="js/lib/jquery-1.11.1.min.js"></script>
	<script src="js/lib/bootstrap.min.js"></script>
	<script src="js/lib/chart.min.js"></script>
	<script src="js/lib/chart-data.js"></script>
	<script src="js/lib/easypiechart.js"></script>
	<script src="js/lib/easypiechart-data.js"></script>
	<script src="js/lib/bootstrap-datepicker.js"></script>
	<script src="js/lib/custom.js"></script>
	
</body>
</html>
