<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="/js/lib/jquery.min.js"></script> 
</head>
<body>
<br>
<div>{{loginid}}, {{loginname}}</div>
</body>
</html>